{% block questions %}
    <div>There are {{ questions|length }} questions.</div>

    {% for question in questions %}
        <hr>
        <h4>{{ question.content }}</h4>
        <small>
            {{ question.createdAt|format_datetime('medium', 'short') }}
        </small>
        {% if question.options|length > 0 %}
            {{ include('survey/parts/options.html.twig') }}
        {% else %}
            <div>No options.</div>
        {% endif %}
    {% endfor %}

    {% if previous >= 0 %}
        <a href="{{ path('web.survey.show', { survey: survey.id, offset: previous }) }}">Previous</a>
    {% endif %}
    {% if next < questions|length %}
        <a href="{{ path('web.survey.show', { survey: survey.id, offset: next }) }}">Next</a>
    {% endif %}

{% endblock %}